/* SettingPage.css */

.setting-page {
  margin: 0 auto;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.setting-page h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #777;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.form-control:focus {
  border-color: #4285f4;
  box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
}


.form-label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
}


.avatar-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 0;
}

.setting-profile-edit {
  margin: 10px;

  max-width: 450px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.setting-edit-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.setting-input-group {
  margin-bottom: 15px;
}

.input-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.setting-save-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.setting-save-button:hover {
  background-color: #0056b3;
}


.input-label {
  margin-right:10px;
}

.setting-avatar-selection-container {
  max-height: 150px; /* Set the desired maximum height */
  overflow: auto; /* Enable scrolling when content exceeds the container height */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.setting-avatar-selection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  /* Additional styling for the avatar grid */
}



.avatar-image {
  border: 3px solid transparent; /* Initial border style */
  cursor: pointer;
}

.avatar-image.selected {
  border-color: #007bff; /* Change border color for selected avatar */
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5); /* Optional: Add a subtle shadow */
}
