.card {
  padding:10px;
}

.login-card-title {
  font-size: 20px;
  margin-top: 13px;
  color: #333;
  font-weight: bold;
}

.movie-info {
  flex: 1; /* Let the left part grow to take available space */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-photo {
  max-height: 300px; /* Ensure the image doesn't exceed its container */
  width: auto;
}


.login-post-title {
  font-size: 18px;
  font-weight: bold;
  width: 80%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}


.login-post-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}

.post-layout {
  margin-bottom: 20px;
}

.post-footer {
  margin-top: auto;
}

/*.wd-footer-container {*/
/*  width: 60%;*/
/*}*/