
.post-item2 {
    display: flex; /* Use flexbox to arrange items horizontally */
    gap: 20px; /* Add some spacing between the left and right parts */
    padding: 20px; /* Add padding for better spacing */
  
    /* You can adjust these values according to your design requirements */
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  .post-item {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: flex-start; /* Align items to the top */
    height: 600px;
    /* max-height: 250px;
     overflow: hidden; */
  }
  
  /* Left Part (Movie Poster and Title) */
  .movie-info {
    flex: 1; /* Let the left part grow to take available space */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movie-photo {
    max-height: 300px; /* Ensure the image doesn't exceed its container */
    width: auto;
  }


  


.overflow-wrap-word {
  word-wrap: break-word; /* Allow long words to break and wrap to the next line */
  overflow-wrap: break-word; /* Compatibility for older browsers */
}


/* Right Part (Review Info) */
  .post-content-container2 {
    flex: 3; /* Let the right part grow to take more space */
    display: flex;
    flex-direction: column;
  }

  
  .post-header {
    display: flex;
    align-items:flex-start;
    gap: 10px;
    width: 100%;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
  }
  
  .post-details {
    width: 90%;
  }
  
  .post-title {
    font-size: 18px;
    font-weight: bold;
    width: 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  
  .post-subtitle {
    font-size: 14px;
    color: #888;
    width: 80%;
  }
  
  .post-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  
  .delete-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

.wd-footer-red-heart {
  color: red;
}

.wd-footer-container {
  align-self: center;
}



.card-title {
  font-size: 25px;
  margin-top: 13px;
  color: #333;
  font-weight: bold;
}


.post-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center the text horizontally */
}

.card-body {
  width: 100%;
  height: 100%;
  padding-top: 0px;
}

.post-stat {
  padding-left: 10%;
}

.black-br{
  content: "";
  display: block;
  height: 5px; /* Adjust the height as needed */
  background-color: black;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #f05d5e;
}