.anonymous-banner {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2a363b;
  color: #fff;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it appears above other content */
}

.banner-content {
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.register-button,
.login-button {
  padding: 12px 20px;
  margin: 5px;
  border: none;
  background-color: #f05d5e;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover,
.login-button:hover {
  background-color: #e04546;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .anonymous-banner {
    width: 90%;
    max-width: 350px;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #f05d5e;
}

.button-container button > a {
  text-decoration: none;
  color: inherit;
}


