
.post-item2 {
    display: flex; /* Use flexbox to arrange items horizontally */
    gap: 20px; /* Add some spacing between the left and right parts */
    padding: 20px; /* Add padding for better spacing */
  
    /* You can adjust these values according to your design requirements */
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  .post-item {
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: flex-start; /* Align items to the top */
    /* max-height: 250px;
     overflow: hidden; */
  }
  
  /* Left Part (Movie Poster and Title) */
  .movie-info {
    flex: 1; /* Let the left part grow to take available space */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movie-photo {
    max-width: 80%; /* Ensure the image doesn't exceed its container */
    height: auto;
  }
  
  .home-movie-title {
    font-size:25px;
    margin-top: 13px; /* Add some spacing between the image and title */
    font-weight: bold;
  }
  
  /* Right Part (Review Info) */
  .post-content-container2 {
    flex: 3; /* Let the right part grow to take more space */
    display: flex;
    flex-direction: column;
  }
  .post-content-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-self: flex-start; /* Align to the top within its container */
  }
  
  .post-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .post-details {
    flex: 1;
  }
  
  .post-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .post-subtitle {
    font-size: 14px;
    color: #888;
  }
  
  .post-content {
    margin-top: 10px; /* Add some spacing below the header */
  }
  
  .delete-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  